<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunip.mapper.authority.ICpPermissionDao" >
  <resultMap id="BaseResultMap" type="TCpPermission" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="permission_name" property="permissionName" jdbcType="VARCHAR" />
    <result column="permission_class" property="permissionClass" jdbcType="VARCHAR" />
    <result column="permission_desc" property="permissionDesc" jdbcType="VARCHAR" />
    <result column="permission_code" property="permissionCode" jdbcType="TINYINT" />
    <result column="valid_status" property="validStatus" jdbcType="TINYINT" />
    <result column="system_code" property="systemCode" jdbcType="VARCHAR" />
    <result column="create_admin" property="createAdmin" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_admin" property="updateAdmin" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <!-- 公共数据列 -->
  <sql id="Base_Column_List" >
    id, permission_name, permission_class, permission_desc, permission_code, valid_status, system_code, 
    create_admin, create_time, update_admin, update_time
  </sql>
  
  <!-- 查找单条 -->
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from yun_cp_permission
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <!-- 删除单条 -->
  <delete id="delById" parameterType="java.lang.Integer" >
    delete from yun_cp_permission
    where id = #{id,jdbcType=INTEGER}
  </delete>

	<!-- 插入数据 -->
  <insert id="insert" parameterType="TCpPermission" useGeneratedKeys="true" keyProperty="id">
    insert into yun_cp_permission (id, permission_name, permission_class, 
      permission_desc, permission_code, valid_status, system_code, 
      create_admin, create_time, update_admin, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{permissionName,jdbcType=VARCHAR}, #{permissionClass,jdbcType=VARCHAR}, 
      #{permissionDesc,jdbcType=VARCHAR}, #{permissionCode}, #{validStatus,jdbcType=TINYINT}, #{systemCode,jdbcType=VARCHAR}, 
      #{createAdmin,jdbcType=VARCHAR}, now(), #{updateAdmin,jdbcType=VARCHAR}, 
      now())
  </insert>

  <!-- 修改 -->
  <update id="update" parameterType="TCpPermission" >
    update yun_cp_permission
    <set >
      <if test="permissionName != null" >
        permission_name = #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionClass != null" >
        permission_class = #{permissionClass,jdbcType=VARCHAR},
      </if>
      <if test="permissionDesc != null" >
        permission_desc = #{permissionDesc,jdbcType=VARCHAR},
      </if>
      <if test="validStatus != null" >
        valid_status = #{validStatus,jdbcType=TINYINT},
      </if>
      <if test="systemCode != null" >
        system_code = #{systemCode,jdbcType=VARCHAR},
      </if>
      <if test="createAdmin != null" >
        create_admin = #{createAdmin,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAdmin != null" >
        update_admin = #{updateAdmin,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 条件语句 -->
  <sql id="Page_Query_Condition">
  	<if test="permissionName != null and permissionName !=''">  
        AND t.permission_name like CONCAT('%', #{permissionName,jdbcType=VARCHAR},'%')
    </if>
    <if test="validStatus != null">  
        AND t.valid_status like CONCAT('%', #{validStatus,jdbcType=TINYINT},'%')
    </if>
    <if test="id != null and id > 0">  
        AND t.id = #{id,jdbcType=INTEGER}
    </if>
  </sql>
  
  <!-- 条件查询列表 -->
  <select id="selectByQuery" resultMap="BaseResultMap" parameterType="TCpPermissionQuery" >
    select
    <include refid="Base_Column_List" />
    from yun_cp_permission t where 1=1
    <include refid="Page_Query_Condition" />
    limit #{pageStart},#{pageSize}
  </select>
  
  <!-- 条件查询总数 -->
  <select id="selectCountByQuery" parameterType="TCpPermissionQuery" resultType="java.lang.Integer" >
    select count(1) from yun_cp_permission t where 1=1
    <include refid="Page_Query_Condition" />
  </select>
  
</mapper>