<?xml version="1.0" encoding="UTF-8"?>
  <beans xmlns="http://www.springframework.org/schema/beans"  
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:p="http://www.springframework.org/schema/p"  
       xmlns:mvc="http://www.springframework.org/schema/mvc" 
        xmlns:context="http://www.springframework.org/schema/context"  
  	xsi:schemaLocation="http://www.springframework.org/schema/beans 
  	   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  	   http://www.springframework.org/schema/mvc
  	   http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">

 	<context:annotation-config />
	<!-- 把标记了@Controller注解的类转换为bean -->  
	<context:component-scan base-package="com.yunip.controller" />  
    
	<!-- 对模型视图名称的解析，即在模型视图名称添加前后缀 -->  
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix" value=".jsp" />
	</bean>

    <!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射 -->  
    <bean id="annotationMethodHandlerAdapter" class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="mappingJacksonHttpMessageConverter" />
			</list>
		</property>
		<!-- 日期格式转换 -->
        <property name="webBindingInitializer">
         	<bean class="com.yunip.web.common.DateConverter"/>
        </property>
	</bean>	
	
	<!-- 处理json数据转换,controller层加入@ResponseBody直接发送json -->
	<bean id="mappingJacksonHttpMessageConverter" 
		  class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" />

     <!--自定义异常监控,这样写监控全局-->
     <bean class="com.yunip.web.common.ExceptionInterceptor"> </bean>
     
     <!-- 这个标签用于注册一个自定义拦截器或者是WebRequestInterceptors.
可以通过定义URL来进行路径请求拦截，可以做到较为细粒度的拦截控制 -->
     <mvc:interceptors>  
        <!--权限拦截器 -->
        <bean class="com.yunip.web.common.AuthInterceptor"></bean>
     </mvc:interceptors>  


	<bean id="multipartResolver"  
		class="com.yunip.controller.base.DefaultMultipartResolverController"  
		p:defaultEncoding="utf-8" />  

    
 </beans>